@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* To use, create Chrome folder in FF profile and drop this file in */

/* Legend:
	FF:	Firefox
	PM: Palemoon
	CB: Cyberfox */
	
/* PM titlebar mods */
#main-window::after {
 	color: #EEE !important;
 	font-weight: normal !important;
 	text-shadow:none !important;
}

/* dark urlbar */
#urlbar{
	background-color: #222 !important;
	color: #DDD !important;	
}

/* dark searchbox */
#searchbar .searchbar-textbox{
	background-color: #222 !important;
	color: #DDD !important;	
}

/* Remove SearchBar Magnifying Glass */
.search-go-button {
	display:none !important;
}

/* lock searchbar size */
#search-container {
	max-width:200px! important; 
	min-width:200px! important;
}

.searchbar-popup{
	background-color: #111 !important;
	color: #DDD !important;	
}

/* Hide RSS feed icon from the location bar*/
#feed-button {
	display: none !important;
}

/* Location bar dropdown */
#PopupAutoCompleteRichResult[type="autocomplete-richlistbox"]
{
    opacity: 0.8 !important;
}
#PopupAutoCompleteRichResult richlistitem{
	background-color: #111 !important;
	color: #DDD !important;	
}
#PopupAutoCompleteRichResult richlistitem[selected="true"]{
	background-color:#222!important;
	color:#FFF!important;
}
.ac-url-text {
	font-size: 100% ! important;
	color: #00B5FC ! important;
}
.ac-url-text[selected="true"] {
	color: #0F0 !important; 
}


/* Searchbar dropdown */
.autocomplete-treerows[hidescrollbar="true"]{
  /* font-weight:bold !important; */
  /* font-size: 14px !important; */
	background-color: #000 !important;
	color: #DDD !important;
}

#mainPopupSet #PopupAutoComplete{
  opacity: .8 !important;
}

#mainPopupSet #PopupAutoComplete:hover{
  opacity: .9;
}

/* No auto-complete arrow on location bar */
.autocomplete-history-dropmarker{
	display: none !important;
}

	
/* Disable gradients & borders on tab & nav bar */

/** Tab bar bottom border **/

/* Pre-Australis */

#nav-bar {
 margin-top: -1px !important;
}

#PersonalToolbar ~ #TabsToolbar {
 padding-bottom: 0 !important;
 box-shadow: none !important;
}

/* Australis */

#main-window #TabsToolbar ~ toolbar#nav-bar {
 margin-top: -1px !important;
 border-top: 1px solid transparent !important;  /* Firefox 32+ */
}

#TabsToolbar::after {
 border-bottom-color: transparent !important;
}

/** End Tab bar bottom border **/

/** Nav bar top border **/

/* Australis only */

#TabsToolbar ~ #nav-bar {
 box-shadow: none !important;
}

/** End Nav bar top border **/

/** Nav bar bottom border **/

:disabled {}

/** End Nav bar bottom border **/

/* Nav bar background */

/* Both Australis and pre-Australis */

#nav-bar {
 background: none !important;
}

/** End Nav bar background **/