.topbar,#hmenus,#careers1,#careers2,#careers3,#sidebar,#footer,#feed-link{
	display:none !important;
}

.vote-count-post{
	color: #DDD !important;
}

html,body{
	min-width: 0px !important;
}

.topbar,.topbar .topbar-wrapper,#header,#content,#mainbar,.footerwrap,#footer #footer-sites{
    width: auto !important;
}
