@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("duckduckgo.com") {
/* Because before the ddg loads its own css theme, 
there is a fraction of a second where the page 
is all white. And it burns the eyes. */
html,.header-wrap,body{
	background:#333 !important;
}
.search--home, .search--header {
    border-color: rgb(36, 36, 36);
    background-color: rgb(41, 41, 41);
}
.search__input--adv {
    color: rgb(230, 230, 230);
}
}