@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("duckduckgo.com") {
/* Because before the ddg loads its own css theme, 
there is a fraction of a second where the page 
is all white. And it burns the eyes. */
html,
.header-wrap,
.site-wrapper,
body{
background:#222 !important;
}

.search--home, .search--header {
    border-color: rgb(36, 36, 36);
    background-color: rgb(41, 41, 41);
}
.search__input--adv {
    color: rgb(230, 230, 230);
}
.result__snippet{
    color:#DDD !important;
}   
.result__a{
    color:#CCC !important;
}
.result-url{
    color:#858585 !important;
}
}